.receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 200px;
    margin: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
}
